In [1]:
import polars as pl
import os
from pathlib import Path
import pandas as pd
import glob
from utils.mapeo import dict_carreras, dict_facultades, dict_area

In [2]:
from IPython.display import Image

In [3]:
df2 = pl.concat([
    pl.read_excel(f)
      .drop('facultad', strict=False)
      .rename({'escuela': 'carrera'}, strict=False)
    for f in glob.glob('./input/*.xlsx')
    if any(str(y) in f for y in range(2018, 2026))
], how='vertical')

Could not determine dtype for column 5, falling back to string
Could not determine dtype for column 6, falling back to string

In [4]:
df2.shape

(65224, 8)

In [5]:
df2.head()

shape: (5, 8)
┌──────────┬───────────────┬──────────┬───────────┬──────┬─────────┬───────────────┬───────────────┐
│ dni      ┆ apellidos_nom ┆ puntaje  ┆ condicion ┆ anio ┆ periodo ┆ modalidad_ing ┆ carrera       │
│ ---      ┆ bres          ┆ ---      ┆ ---       ┆ ---  ┆ ---     ┆ reso          ┆ ---           │
│ str      ┆ ---           ┆ str      ┆ str       ┆ str  ┆ str     ┆ ---           ┆ str           │
│          ┆ str           ┆          ┆           ┆      ┆         ┆ str           ┆               │
╞══════════╪═══════════════╪══════════╪═══════════╪══════╪═════════╪═══════════════╪═══════════════╡
│ 73144035 ┆ Hernandez     ┆ 1482.500 ┆ INGRESO   ┆ 2018 ┆ I       ┆ EDUCACIÓN     ┆ : ADMINISTRAC │
│          ┆ Guerrero Luis ┆          ┆           ┆      ┆         ┆ BÁSICA        ┆ IÓN           │
│          ┆ Javier        ┆          ┆           ┆      ┆         ┆ REGULAR Y     ┆               │
│          ┆               ┆          ┆           ┆      ┆         ┆ EDU…          ┆               │
│ 75024298 ┆ Martinez Vera ┆ 1445.000 ┆ INGRESO   ┆ 2018 ┆ I       ┆ EDUCACIÓN     ┆ : ADMINISTRAC │
│          ┆ Cesia Dolly   ┆          ┆           ┆      ┆         ┆ BÁSICA        ┆ IÓN           │
│          ┆               ┆          ┆           ┆      ┆         ┆ REGULAR Y     ┆               │
│          ┆               ┆          ┆           ┆      ┆         ┆ EDU…          ┆               │
│ 70280465 ┆ Ham Orellana  ┆ 1427.500 ┆ INGRESO   ┆ 2018 ┆ I       ┆ EDUCACIÓN     ┆ : ADMINISTRAC │
│          ┆ Sul Ki        ┆          ┆           ┆      ┆         ┆ BÁSICA        ┆ IÓN           │
│          ┆               ┆          ┆           ┆      ┆         ┆ REGULAR Y     ┆               │
│          ┆               ┆          ┆           ┆      ┆         ┆ EDU…          ┆               │
│ 45072853 ┆ Bertolotti    ┆ 1422.500 ┆ INGRESO   ┆ 2018 ┆ I       ┆ EDUCACIÓN     ┆ : ADMINISTRAC │
│          ┆ Salcedo Ida   ┆          ┆           ┆      ┆         ┆ BÁSICA        ┆ IÓN           │
│          ┆ Zuleyma       ┆          ┆           ┆      ┆         ┆ REGULAR Y     ┆               │
│          ┆               ┆          ┆           ┆      ┆         ┆ EDU…          ┆               │
│ 71991078 ┆ Mantari       ┆ 1401.250 ┆ INGRESO   ┆ 2018 ┆ I       ┆ EDUCACIÓN     ┆ : ADMINISTRAC │
│          ┆ Misaico Lucia ┆          ┆           ┆      ┆         ┆ BÁSICA        ┆ IÓN           │
│          ┆ Jeanet        ┆          ┆           ┆      ┆         ┆ REGULAR Y     ┆               │
│          ┆               ┆          ┆           ┆      ┆         ┆ EDU…          ┆               │
└──────────┴───────────────┴──────────┴───────────┴──────┴─────────┴───────────────┴───────────────┘

#### PANORAMA GENERAL

In [6]:
df2.describe()

shape: (9, 9)
┌────────────┬──────────┬──────────────┬─────────┬───┬───────┬─────────┬─────────────┬─────────────┐
│ statistic  ┆ dni      ┆ apellidos_no ┆ puntaje ┆ … ┆ anio  ┆ periodo ┆ modalidad_i ┆ carrera     │
│ ---        ┆ ---      ┆ mbres        ┆ ---     ┆   ┆ ---   ┆ ---     ┆ ngreso      ┆ ---         │
│ str        ┆ str      ┆ ---          ┆ str     ┆   ┆ str   ┆ str     ┆ ---         ┆ str         │
│            ┆          ┆ str          ┆         ┆   ┆       ┆         ┆ str         ┆             │
╞════════════╪══════════╪══════════════╪═════════╪═══╪═══════╪═════════╪═════════════╪═════════════╡
│ count      ┆ 65224    ┆ 65224        ┆ 65224   ┆ … ┆ 65224 ┆ 57163   ┆ 59213       ┆ 65224       │
│ null_count ┆ 0        ┆ 0            ┆ 0       ┆ … ┆ 0     ┆ 8061    ┆ 6011        ┆ 0           │
│ mean       ┆ null     ┆ null         ┆ null    ┆ … ┆ null  ┆ null    ┆ null        ┆ null        │
│ std        ┆ null     ┆ null         ┆ null    ┆ … ┆ null  ┆ null    ┆ null        ┆ null        │
│ min        ┆ 00264931 ┆ Abad         ┆ -0.0038 ┆ … ┆ 2018  ┆ I       ┆ 1ER Y 2DO   ┆ : ADMINISTR │
│            ┆          ┆ Aguilar,     ┆         ┆   ┆       ┆         ┆ PUESTO DE   ┆ ACIÓN       │
│            ┆          ┆ Karen Dayana ┆         ┆   ┆       ┆         ┆ I.E.        ┆             │
│ 25%        ┆ null     ┆ null         ┆ null    ┆ … ┆ null  ┆ null    ┆ null        ┆ null        │
│ 50%        ┆ null     ┆ null         ┆ null    ┆ … ┆ null  ┆ null    ┆ null        ┆ null        │
│ 75%        ┆ null     ┆ null         ┆ null    ┆ … ┆ null  ┆ null    ┆ null        ┆ null        │
│ max        ┆ 98026829 ┆ Ñuñuvera     ┆ AUSENTE ┆ … ┆ 2025  ┆ II      ┆ VICTIMAS    ┆ TURISMO     │
│            ┆          ┆ Julca Elias  ┆         ┆   ┆       ┆         ┆ DEL         ┆             │
│            ┆          ┆ Ignacio      ┆         ┆   ┆       ┆         ┆ TERRORISMO  ┆             │
└────────────┴──────────┴──────────────┴─────────┴───┴───────┴─────────┴─────────────┴─────────────┘

#### VERIFICAMOS QUE SE HAYAN CONCATENADO CORRECTAMENTE PARA LOS AÑOS 2018-2024

In [7]:
# VERIFICAMOS LOS AÑOS
df2['anio'].unique().sort()

shape: (6,)
Series: 'anio' [str]
[
	"2018"
	"2019"
	"2022"
	"2023"
	"2024"
	"2025"
]

In [8]:
# VERIFICAMOS LOS PERIODOS( I Y II)
df2['periodo'].unique().sort()

shape: (3,)
Series: 'periodo' [str]
[
	null
	"I"
	"II"
]

In [9]:
# CONDICION
df2['condicion'].unique()

shape: (4,)
Series: 'condicion' [str]
[
	"AUSENTE"
	"NO INGRESO"
	"ANULADO"
	"INGRESO"
]

In [10]:
# VERIFICAMOS LAS CARRERAS
list(df2['carrera'].unique().head(7))

['INGENIERÍA DE SISTEMAS',
 'P04: FÍSICA',
 'INGENIERÍA AMBIENTAL Y SANITARIA',
 'P10: ARQUEOLOGÍA',
 'MATEMATICA E INFORMATICA',
 'CIENCIAS DE LA EDUCACIÓN EN HISTORIA Y GEOGRAFÍA',
 'P14: CIENCIAS DE LA EDUCACIÓN EN HISTORIA Y GEOGRAFÍA']

In [11]:
# VERIFICAMOS LAS MODALIDADES
list(df2['modalidad_ingreso'].unique().head(7))

['ORDINARIO',
 'DEPORTISTAS DESTACADOS',
 'PERSONAS CON DISCAPACIDAD',
 'VICTIMAS DE TERRORISMO',
 'EDUCACIÓN BÁSICA REGULAR Y EDUCACIÓN BÁSICA ALTERNATIVA',
 'VICTIMAS DEL TERRORISMO',
 'ADMISIÓN ORDINARIA']

SE OBSERVA INCOSISTENCIAS PARA LA MODALIDAD Y CARRERA QUE SE VA A CORREGIR POSTERIORMENTE

#### VERIFICAR LOS TIPOS DE DATOS

In [12]:
for campo, tipo in df2.schema.items():
    print(f'Nombre: {campo} - Tipo: {tipo}')

Nombre: dni - Tipo: String
Nombre: apellidos_nombres - Tipo: String
Nombre: puntaje - Tipo: String
Nombre: condicion - Tipo: String
Nombre: anio - Tipo: String
Nombre: periodo - Tipo: String
Nombre: modalidad_ingreso - Tipo: String
Nombre: carrera - Tipo: String

RENOMBRAMOS COLUMNAS

In [13]:
df2 = df2.rename({
    'dni' : 'DNI',
    'apellidos_nombres' : 'APELLIDOS Y NOMBRES',
    'puntaje' :'PUNTAJE',
    'condicion' : 'CONDICION',
    'anio' : 'AÑO',
    'periodo' : 'PERIODO',
    'modalidad_ingreso' : 'MODALIDAD',
    'carrera' : 'CARRERA'
    })

In [14]:
df2.head(2)

shape: (2, 8)
┌──────────┬─────────────────┬──────────┬───────────┬──────┬─────────┬───────────┬─────────────────┐
│ DNI      ┆ APELLIDOS Y     ┆ PUNTAJE  ┆ CONDICION ┆ AÑO  ┆ PERIODO ┆ MODALIDAD ┆ CARRERA         │
│ ---      ┆ NOMBRES         ┆ ---      ┆ ---       ┆ ---  ┆ ---     ┆ ---       ┆ ---             │
│ str      ┆ ---             ┆ str      ┆ str       ┆ str  ┆ str     ┆ str       ┆ str             │
│          ┆ str             ┆          ┆           ┆      ┆         ┆           ┆                 │
╞══════════╪═════════════════╪══════════╪═══════════╪══════╪═════════╪═══════════╪═════════════════╡
│ 73144035 ┆ Hernandez       ┆ 1482.500 ┆ INGRESO   ┆ 2018 ┆ I       ┆ EDUCACIÓN ┆ :               │
│          ┆ Guerrero Luis   ┆          ┆           ┆      ┆         ┆ BÁSICA    ┆ ADMINISTRACIÓN  │
│          ┆ Javier          ┆          ┆           ┆      ┆         ┆ REGULAR Y ┆                 │
│          ┆                 ┆          ┆           ┆      ┆         ┆ EDU…      ┆                 │
│ 75024298 ┆ Martinez Vera   ┆ 1445.000 ┆ INGRESO   ┆ 2018 ┆ I       ┆ EDUCACIÓN ┆ :               │
│          ┆ Cesia Dolly     ┆          ┆           ┆      ┆         ┆ BÁSICA    ┆ ADMINISTRACIÓN  │
│          ┆                 ┆          ┆           ┆      ┆         ┆ REGULAR Y ┆                 │
│          ┆                 ┆          ┆           ┆      ┆         ┆ EDU…      ┆                 │
└──────────┴─────────────────┴──────────┴───────────┴──────┴─────────┴───────────┴─────────────────┘

#### Verificamos si hay datos anomalos

DNIS

In [15]:
df2.filter(
    pl.col('DNI').cast(pl.Utf8).str.len_chars() < 8
)

shape: (1, 8)
┌────────┬──────────────────────┬─────────┬────────────┬──────┬─────────┬───────────┬──────────────┐
│ DNI    ┆ APELLIDOS Y NOMBRES  ┆ PUNTAJE ┆ CONDICION  ┆ AÑO  ┆ PERIODO ┆ MODALIDAD ┆ CARRERA      │
│ ---    ┆ ---                  ┆ ---     ┆ ---        ┆ ---  ┆ ---     ┆ ---       ┆ ---          │
│ str    ┆ str                  ┆ str     ┆ str        ┆ str  ┆ str     ┆ str       ┆ str          │
╞════════╪══════════════════════╪═════════╪════════════╪══════╪═════════╪═══════════╪══════════════╡
│ 703495 ┆ Alvarez Peña Alvaro  ┆ AUSENTE ┆ NO INGRESO ┆ 2018 ┆ II      ┆ EDUCACIÓN ┆ : INGENIERÍA │
│        ┆ Edwin                ┆         ┆            ┆      ┆         ┆ BÁSICA    ┆ CIVIL        │
│        ┆                      ┆         ┆            ┆      ┆         ┆ REGULAR Y ┆              │
│        ┆                      ┆         ┆            ┆      ┆         ┆ EDU…      ┆              │
└────────┴──────────────────────┴─────────┴────────────┴──────┴─────────┴───────────┴──────────────┘

COMO SE OBSERVA SOLO TENEMOS UN REGISTRO CON DNI DE 6 DIGITOS

APELLIDOS Y NOMBRES

In [16]:
df2.filter(
    pl.col("APELLIDOS Y NOMBRES")
    .str.strip_chars()
    .str.contains(r"^\d+$")
).select(["APELLIDOS Y NOMBRES"]).unique()

shape: (0, 1)
┌─────────────────────┐
│ APELLIDOS Y NOMBRES │
│ ---                 │
│ str                 │
╞═════════════════════╡
└─────────────────────┘

PUNTAJE

In [17]:
df2.filter(
    pl.col('PUNTAJE').cast(pl.Float64, strict=False).is_null()
).select(['PUNTAJE']).unique()

shape: (2, 1)
┌─────────┐
│ PUNTAJE │
│ ---     │
│ str     │
╞═════════╡
│ ANULADO │
│ AUSENTE │
└─────────┘

### LIMPIEZA Y TRANFORMACION

<p style="
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  background-color: #fce4ec;
  color: #880e4f;
  padding: 6px;
  border-radius: 5px;
  margin: 0;
">
  A) COLUMNA DNI
</p>

### Tratamiento del campo `DNI` como texto (`Utf8`)

## Propósito del campo
El campo `DNI` representa un identificador único de postulante y no un valor numérico con fines de cálculo.

## Razones para mantener `DNI` como texto (`Utf8`)

1. Preservación de ceros a la izquierda  
   Algunos DNIs válidos comienzan con `00`, `01`, etc.  
   Al convertirlos a enteros, los ceros se eliminan:
   "00559676" → int → 559676

2. Formato estándar de 8 dígitos  
   El DNI debe tener exactamente 8 caracteres. Tratarlo como número puede generar errores de validación.

3. Evita errores en herramientas externas  
   Al exportar a Excel, CSV o Power BI, los DNIs numéricos pueden perder ceros o alterarse visualmente.

4. No se requiere realizar operaciones matemáticas  
   El DNI es un identificador. No se suma ni se usa en cálculos.

## Decisión técnica

La columna `DNI` se mantiene como tipo `Utf8` (texto) en todas las etapas del pipeline (carga, limpieza, análisis y exportación) para garantizar:

- Integridad del dato
- Compatibilidad con sistemas externos
- Formato visual correcto
- Consistencia en validaciones y comparaciones

In [18]:
# SE CONVIERTE LA COLUMNA DNI A UTF8
df2 = df2.with_columns(
        pl.col("DNI").cast(pl.Utf8).alias("DNI"))

VERIFICAMOS NUEVAMENTE QUE SOLO HAYA QUEDADO ESE REGISTRO CON 6 DIGITOS

In [19]:
df2.filter(
    pl.col('DNI').cast(pl.Utf8).str.len_chars() < 8
)

shape: (1, 8)
┌────────┬──────────────────────┬─────────┬────────────┬──────┬─────────┬───────────┬──────────────┐
│ DNI    ┆ APELLIDOS Y NOMBRES  ┆ PUNTAJE ┆ CONDICION  ┆ AÑO  ┆ PERIODO ┆ MODALIDAD ┆ CARRERA      │
│ ---    ┆ ---                  ┆ ---     ┆ ---        ┆ ---  ┆ ---     ┆ ---       ┆ ---          │
│ str    ┆ str                  ┆ str     ┆ str        ┆ str  ┆ str     ┆ str       ┆ str          │
╞════════╪══════════════════════╪═════════╪════════════╪══════╪═════════╪═══════════╪══════════════╡
│ 703495 ┆ Alvarez Peña Alvaro  ┆ AUSENTE ┆ NO INGRESO ┆ 2018 ┆ II      ┆ EDUCACIÓN ┆ : INGENIERÍA │
│        ┆ Edwin                ┆         ┆            ┆      ┆         ┆ BÁSICA    ┆ CIVIL        │
│        ┆                      ┆         ┆            ┆      ┆         ┆ REGULAR Y ┆              │
│        ┆                      ┆         ┆            ┆      ┆         ┆ EDU…      ┆              │
└────────┴──────────────────────┴─────────┴────────────┴──────┴─────────┴───────────┴──────────────┘

<p style="
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  background-color: #fce4ec;
  color: #880e4f;
  padding: 6px;
  border-radius: 5px;
  margin: 0;
">
  B) COLUMNA APELLIDOS Y NOMBRES
</p>

In [20]:
# CONVERTIMOS TODOS LOS REGISTROS A MAYUSCULAS
df2 = df2.with_columns(
    pl.col('APELLIDOS Y NOMBRES').str.to_uppercase().alias('APELLIDOS Y NOMBRES')
)

<p style="
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  background-color: #fce4ec;
  color: #880e4f;
  padding: 6px;
  border-radius: 5px;
  margin: 0;
">
  C) COLUMNA AÑO
</p>

In [21]:
df2 = df2.with_columns(
    pl.col('AÑO').cast(pl.Int64).alias('AÑO')
)

<p style="
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  background-color: #fce4ec;
  color: #880e4f;
  padding: 6px;
  border-radius: 5px;
  margin: 0;
">
  D) COLUMNA PUNTAJE
</p>

### A LA COLUMNA PUNTAJE SE LE APLICARA LOS SIGUIENTES CAMBIOS

Primero verificamos por norma de la universidad para el ultimo el caso de postulantes ausentes o anulados

In [22]:
df2.filter(
    (pl.col('CONDICION').is_in(['AUSENTE', 'ANULADO']) & (pl.col('AÑO') == 2024))
).select(['PUNTAJE', 'CONDICION']).unique()

shape: (2, 2)
┌─────────┬───────────┐
│ PUNTAJE ┆ CONDICION │
│ ---     ┆ ---       │
│ str     ┆ str       │
╞═════════╪═══════════╡
│ 0.0000  ┆ ANULADO   │
│ 0.0000  ┆ AUSENTE   │
└─────────┴───────────┘

Como se observa para el ultimo examen de admision, si el postulante es ausente o anulado se le asigna un puntaje de 0 y se respeta la condicion, entonces, como se observo en la seccion de datos anomalos, hay registros en la cual la columna puntaje tiene valores de ausente o anulado , como siguiente paso verifiquemos en que años sucedio este caso

In [23]:
df2.filter(
    pl.col('PUNTAJE').is_in(['AUSENTE', 'ANULADO'])
).group_by(['AÑO', 'PUNTAJE']).agg(
    pl.len().alias('Total x Año')
).sort(by = 'AÑO', descending = False)

shape: (6, 3)
┌──────┬─────────┬─────────────┐
│ AÑO  ┆ PUNTAJE ┆ Total x Año │
│ ---  ┆ ---     ┆ ---         │
│ i64  ┆ str     ┆ u32         │
╞══════╪═════════╪═════════════╡
│ 2018 ┆ AUSENTE ┆ 363         │
│ 2018 ┆ ANULADO ┆ 18          │
│ 2019 ┆ AUSENTE ┆ 76          │
│ 2019 ┆ ANULADO ┆ 4           │
│ 2022 ┆ AUSENTE ┆ 106         │
│ 2022 ┆ ANULADO ┆ 2           │
└──────┴─────────┴─────────────┘

# Correcciones aplicadas a los datasets de admisión  2018- 2024

Debido a este hallazo durante  el proceso de estandarización y control de calidad de los datos históricos de los procesos de admisión de los años 2018, 2019 y 2022,etc se identificaron inconsistencias en los registros de postulantes que no rindieron el examen o cuya evaluación fue anulada.

## Problema detectado

En los campos `puntaje`, algunos valores aparecían como `"Ausente"` o `"Anulado"` (tipo `str`), lo que generaba errores en la conversión a formato numérico (`float`).

Adicionalmente, estos registros presentaban la condición errónea: en todos los casos aparecían como `"NO INGRESO"`, sin reflejar su verdadera situación.

## Correcciones realizadas

1. **puntaje**:  
   - Se reemplazaron los valores `"Ausente"` y `"Anulado"` por puntaje **None** .
   - Se mantuvo el tipo de dato como `float64` para garantizar compatibilidad con herramientas de análisis.

2. **condicion**:  
   - Cuando `puntaje` era `"Ausente"`, se actualizó a `condicion = "AUSENTE"`.  
   - Cuando `puntaje` era `"Anulado"`, se actualizó a `condicion = "ANULADO"`.


## Justificación 

Esta corrección sigue el estándar y se aplicara tambien en los años más recientes (`2024-I` y `2024-II`), donde:

- Postulantes ausentes o anulados aparecen con `puntaje = 0.0` pero la condición sí está correctamente definida como `"AUSENTE"` o `"ANULADO"`.

Para mantener la consistencia lógica, se optó por colocar **NULL** en el campo `puntaje`
## Nota adicional

Estas correcciones permiten:

- Un análisis más preciso en Power BI o Python, evitando que valores nulos distorsionen métricas como mínimos, promedios o distribuciones.
- Visualizar con claridad la cantidad real de ausentes y anulados por año, modalidad y escuela profesional.

In [24]:
df2 = df2.with_columns([
    # PRIMERO EL VALOR DE AUSENTE Y ANULADO LOS ASIGNAMOS A LA CONDICION
    pl.when(pl.col('PUNTAJE').is_in(['AUSENTE', 'ANULADO']))
    .then(pl.col('PUNTAJE'))
    .otherwise(pl.col('CONDICION'))
    .alias('CONDICION'),

    # ASIGNAMOS PARA ESOS POSTULANTE EL  PUNTAJE POR NULL
    pl.when(pl.col('PUNTAJE').is_in(['AUSENTE', 'ANULADO']))
    .then(None)
    .otherwise(pl.col('PUNTAJE').cast(pl.Float64, strict= False))
    .alias('PUNTAJE') 
])

In [25]:
df2 = df2.with_columns([
    pl.when(pl.col('CONDICION').is_in(['AUSENTE', 'ANULADO']))
      .then(None)
      .otherwise(pl.col('PUNTAJE'))
      .alias('PUNTAJE')
])

In [26]:
# VERIFICAMOS PARA ALGUNOS POSTULANTES ALEATORIOS
df2.filter(
    pl.col('APELLIDOS Y NOMBRES').is_in(
        ['CHALCO RODRIGUEZ ANHELKA MIGUEL', 'PORTAL PALACIOS MAYRA LIZETH',
          'MENDOZA SANCHEZ GIANELLA SAORI', 'FERNANDEZ RAMIREZ ARNOLD SMIT',
          'CHAVEZ LANDEO, AMY LINSEYD'])
)

shape: (7, 8)
┌──────────┬───────────────┬─────────┬────────────┬──────┬─────────┬───────────────┬───────────────┐
│ DNI      ┆ APELLIDOS Y   ┆ PUNTAJE ┆ CONDICION  ┆ AÑO  ┆ PERIODO ┆ MODALIDAD     ┆ CARRERA       │
│ ---      ┆ NOMBRES       ┆ ---     ┆ ---        ┆ ---  ┆ ---     ┆ ---           ┆ ---           │
│ str      ┆ ---           ┆ f64     ┆ str        ┆ i64  ┆ str     ┆ str           ┆ str           │
│          ┆ str           ┆         ┆            ┆      ┆         ┆               ┆               │
╞══════════╪═══════════════╪═════════╪════════════╪══════╪═════════╪═══════════════╪═══════════════╡
│ 70551991 ┆ CHALCO        ┆ null    ┆ AUSENTE    ┆ 2018 ┆ II      ┆ COMUNIDADES   ┆ : ADMINISTRAC │
│          ┆ RODRIGUEZ     ┆         ┆            ┆      ┆         ┆ RURALES Y     ┆ IÓN           │
│          ┆ ANHELKA       ┆         ┆            ┆      ┆         ┆ URBANAS       ┆               │
│          ┆ MIGUE…        ┆         ┆            ┆      ┆         ┆               ┆               │
│ 74585957 ┆ FERNANDEZ     ┆ null    ┆ AUSENTE    ┆ 2019 ┆ I       ┆ EDUCACIÓN     ┆ : ADMINISTRAC │
│          ┆ RAMIREZ       ┆         ┆            ┆      ┆         ┆ BÁSICA        ┆ IÓN           │
│          ┆ ARNOLD SMIT   ┆         ┆            ┆      ┆         ┆ REGULAR Y     ┆               │
│          ┆               ┆         ┆            ┆      ┆         ┆ EDU…          ┆               │
│ 60733262 ┆ MENDOZA       ┆ null    ┆ ANULADO    ┆ 2022 ┆ null    ┆ ADMISIÓN      ┆ P23: DERECHO  │
│          ┆ SANCHEZ       ┆         ┆            ┆      ┆         ┆ ORDINARIA     ┆               │
│          ┆ GIANELLA      ┆         ┆            ┆      ┆         ┆               ┆               │
│          ┆ SAORI         ┆         ┆            ┆      ┆         ┆               ┆               │
│ 76764998 ┆ PORTAL        ┆ null    ┆ AUSENTE    ┆ 2022 ┆ null    ┆ ADMISIÓN      ┆ P38:          │
│          ┆ PALACIOS      ┆         ┆            ┆      ┆         ┆ ORDINARIA     ┆ OBSTETRICIA   │
│          ┆ MAYRA LIZETH  ┆         ┆            ┆      ┆         ┆               ┆               │
│ 70551991 ┆ CHALCO        ┆ 480.13  ┆ NO INGRESO ┆ 2023 ┆ I       ┆ ADMISIÓN      ┆ CIENCIAS DE   │
│          ┆ RODRIGUEZ     ┆         ┆            ┆      ┆         ┆ ORDINARIA     ┆ LA EDUCACIÓN  │
│          ┆ ANHELKA       ┆         ┆            ┆      ┆         ┆               ┆ EN ED…        │
│          ┆ MIGUE…        ┆         ┆            ┆      ┆         ┆               ┆               │
│ 61418809 ┆ CHAVEZ        ┆ 4.1333  ┆ NO INGRESO ┆ 2024 ┆ I       ┆ ORDINARIO     ┆ BIOLOGIA      │
│          ┆ LANDEO, AMY   ┆         ┆            ┆      ┆         ┆               ┆               │
│          ┆ LINSEYD       ┆         ┆            ┆      ┆         ┆               ┆               │
│ 61418809 ┆ CHAVEZ        ┆ null    ┆ ANULADO    ┆ 2025 ┆ I       ┆ ORDINARIO     ┆ BIOLOGIA      │
│          ┆ LANDEO, AMY   ┆         ┆            ┆      ┆         ┆               ┆               │
│          ┆ LINSEYD       ┆         ┆            ┆      ┆         ┆               ┆               │
└──────────┴───────────────┴─────────┴────────────┴──────┴─────────┴───────────────┴───────────────┘

In [27]:
df2.filter(
    pl.col('PUNTAJE').is_null()
).select('AÑO', 'PUNTAJE', 'CONDICION').unique().sort(by = 'AÑO')

shape: (11, 3)
┌──────┬─────────┬───────────┐
│ AÑO  ┆ PUNTAJE ┆ CONDICION │
│ ---  ┆ ---     ┆ ---       │
│ i64  ┆ f64     ┆ str       │
╞══════╪═════════╪═══════════╡
│ 2018 ┆ null    ┆ ANULADO   │
│ 2018 ┆ null    ┆ AUSENTE   │
│ 2019 ┆ null    ┆ AUSENTE   │
│ 2019 ┆ null    ┆ ANULADO   │
│ 2022 ┆ null    ┆ ANULADO   │
│ …    ┆ …       ┆ …         │
│ 2023 ┆ null    ┆ AUSENTE   │
│ 2024 ┆ null    ┆ ANULADO   │
│ 2024 ┆ null    ┆ AUSENTE   │
│ 2025 ┆ null    ┆ ANULADO   │
│ 2025 ┆ null    ┆ AUSENTE   │
└──────┴─────────┴───────────┘

##### VERIFICAMOS NUEVAMENTE QUE NO HAYA AUSENTES Y ANULADOS EN LA COLUMNA PUNTAJE

In [28]:
df2.filter(
    pl.col('PUNTAJE').cast(pl.Float64, strict=False).is_null()
).select(['PUNTAJE']).unique()

shape: (1, 1)
┌─────────┐
│ PUNTAJE │
│ ---     │
│ f64     │
╞═════════╡
│ null    │
└─────────┘

In [29]:
df2.filter(
    pl.col("PUNTAJE").cast(pl.Utf8).is_in(["AUSENTE", "ANULADO"])
)

shape: (0, 8)
┌─────┬─────────────────────┬─────────┬───────────┬─────┬─────────┬───────────┬─────────┐
│ DNI ┆ APELLIDOS Y NOMBRES ┆ PUNTAJE ┆ CONDICION ┆ AÑO ┆ PERIODO ┆ MODALIDAD ┆ CARRERA │
│ --- ┆ ---                 ┆ ---     ┆ ---       ┆ --- ┆ ---     ┆ ---       ┆ ---     │
│ str ┆ str                 ┆ f64     ┆ str       ┆ i64 ┆ str     ┆ str       ┆ str     │
╞═════╪═════════════════════╪═════════╪═══════════╪═════╪═════════╪═══════════╪═════════╡
└─────┴─────────────────────┴─────────┴───────────┴─────┴─────────┴───────────┴─────────┘

In [30]:
df2.filter(
    pl.col('CONDICION').is_in(['AUSENTE', 'ANULADO'])
).group_by(['AÑO', 'CONDICION']).agg(
    pl.len().alias('Total x Año')
).sort(by = 'AÑO', descending = False)

shape: (11, 3)
┌──────┬───────────┬─────────────┐
│ AÑO  ┆ CONDICION ┆ Total x Año │
│ ---  ┆ ---       ┆ ---         │
│ i64  ┆ str       ┆ u32         │
╞══════╪═══════════╪═════════════╡
│ 2018 ┆ ANULADO   ┆ 18          │
│ 2018 ┆ AUSENTE   ┆ 363         │
│ 2019 ┆ AUSENTE   ┆ 76          │
│ 2019 ┆ ANULADO   ┆ 4           │
│ 2022 ┆ AUSENTE   ┆ 106         │
│ …    ┆ …         ┆ …           │
│ 2023 ┆ AUSENTE   ┆ 202         │
│ 2024 ┆ AUSENTE   ┆ 145         │
│ 2024 ┆ ANULADO   ┆ 4           │
│ 2025 ┆ ANULADO   ┆ 3           │
│ 2025 ┆ AUSENTE   ┆ 131         │
└──────┴───────────┴─────────────┘

In [31]:
resultado = (
    df2.group_by(["AÑO", "PERIODO"])
    .agg([
        pl.col("PUNTAJE").max().alias("PUNTAJE_MAXIMO"),
        pl.col("APELLIDOS Y NOMBRES")
            .filter(pl.col("PUNTAJE") == pl.col("PUNTAJE").max())
            .alias("ALUMNOS_MAXIMOS"),

        pl.col("PUNTAJE").min().alias("PUNTAJE_MINIMO"),
        pl.col("APELLIDOS Y NOMBRES")
            .filter(pl.col("PUNTAJE") == pl.col("PUNTAJE").min())
            .alias("ALUMNOS_MINIMOS"),
    ])
    .sort(["AÑO", "PERIODO"])
)
resultado

shape: (9, 6)
┌──────┬─────────┬────────────────┬───────────────────────┬────────────────┬───────────────────────┐
│ AÑO  ┆ PERIODO ┆ PUNTAJE_MAXIMO ┆ ALUMNOS_MAXIMOS       ┆ PUNTAJE_MINIMO ┆ ALUMNOS_MINIMOS       │
│ ---  ┆ ---     ┆ ---            ┆ ---                   ┆ ---            ┆ ---                   │
│ i64  ┆ str     ┆ f64            ┆ list[str]             ┆ f64            ┆ list[str]             │
╞══════╪═════════╪════════════════╪═══════════════════════╪════════════════╪═══════════════════════╡
│ 2018 ┆ I       ┆ 1893.75        ┆ ["BERTOLOTTI DIAZ     ┆ 106.25         ┆ ["PALOMINO COAQUIRA   │
│      ┆         ┆                ┆ FABIANA", "A…         ┆                ┆ MARICIELO …           │
│ 2018 ┆ II      ┆ 1790.0         ┆ ["ASCENCIO HUAUYA     ┆ 87.5           ┆ ["GUERRERO BUSTAMANTE │
│      ┆         ┆                ┆ LUIS ANGEL"]          ┆                ┆ MARIA FE…             │
│ 2019 ┆ I       ┆ 1643.75        ┆ ["MOZO FERRER RONALDO ┆ 53.75          ┆ ["ANICAMA ROMERO      │
│      ┆         ┆                ┆ MIGUEL"]              ┆                ┆ PEDRO ENRIQUE…        │
│ 2022 ┆ null    ┆ 1662.0         ┆ ["CHÁVEZ BARRIENTOS   ┆ 20.0           ┆ ["TAPIA ESCATE PAMELA │
│      ┆         ┆                ┆ HUGO ALFRE…           ┆                ┆ ALEXANDR…             │
│ 2023 ┆ I       ┆ 1684.25        ┆ ["ESCALANTE RUIZ DE   ┆ -2.25          ┆ ["LOPEZ PEÑA JASHURY  │
│      ┆         ┆                ┆ CASTILLA F…           ┆                ┆ YARETH"]              │
│ 2023 ┆ II      ┆ 19.58          ┆ ["ESCALANTE RUIZ DE   ┆ 0.0            ┆ ["DE LA CRUZ          │
│      ┆         ┆                ┆ CASTILLA G…           ┆                ┆ MOQUILLAZA JOSHUE…    │
│ 2024 ┆ I       ┆ 18.5556        ┆ ["TOMASTO VERGARA,    ┆ 0.0            ┆ ["MEREL CHECA, CARLOS │
│      ┆         ┆                ┆ JANNILU MAY…          ┆                ┆ ENRIQUE"…             │
│ 2024 ┆ II      ┆ 19.1778        ┆ ["PAREDES CHAVEZ,     ┆ -3.9778        ┆ ["SAAVEDRA CURIMANYA, │
│      ┆         ┆                ┆ NYCOL ASTRID…         ┆                ┆ MARCO AN…             │
│ 2025 ┆ I       ┆ 18.1334        ┆ ["YAÑEZ BERNAOLA,     ┆ -3.9994        ┆ ["MAMANI GARCIA,      │
│      ┆         ┆                ┆ DIANA ISABEL…         ┆                ┆ JULIO ALEJAND…        │
└──────┴─────────┴────────────────┴───────────────────────┴────────────────┴───────────────────────┘

*Debido al cambio de sistema de evaluación desde el año 2023, se incorporó una conversión automática de puntajes en escala 0–2000 a 0–20 solo cuando el usuario filtra años anteriores al 2023. Los valores negativos o atípicos se excluyen de esta transformación para preservar su significado original. Esta decisión sigue buenas prácticas de auditoría y análisis estadístico.*

In [32]:
df2 = df2.with_columns([

    # Columna de escala informativa
    pl.when(
        ((pl.col('AÑO') >= 2018) & (pl.col('AÑO') < 2023)) |
        ((pl.col('AÑO') == 2023) & (pl.col('PERIODO') == "I"))
    )
    .then(pl.lit('0-2000'))
    .otherwise(pl.lit('0-20'))
    .alias('Escala'),

    pl.col('PUNTAJE').alias('PuntajeOriginal'),

    # Puntaje normalizado, solo si NO es None y es positivo y es de escala 0–2000
    pl.when(
        pl.col("PUNTAJE").is_not_null() &
        (((pl.col('AÑO') >= 2018) & (pl.col('AÑO') < 2023)) |
         ((pl.col('AÑO') == 2023) & (pl.col('PERIODO') == "I"))) &
        (pl.col('PUNTAJE') >= 0)
    )
    .then(pl.col('PUNTAJE') / 100)
    .otherwise(pl.col('PUNTAJE'))  # se deja None, negativo o escala 0-20
    .alias('Puntaje_normalizado')
])

In [33]:
# VERIFICAMOS PARA ALGUNOS POSTULANTES ALEATORIOS
df2.filter(
    pl.col('APELLIDOS Y NOMBRES').is_in([
        'MEDINA CORDOVA FELIX ALONZO', 'MEDINA CAJAMARCA YOSHEF YOJANSSEN',
        ' PAREDES ALATRISTA ARTURO LI', 'TITO PRADA GREACE NICOLL'
    ])
)

shape: (5, 11)
┌──────────┬────────────┬─────────┬────────────┬───┬────────────┬────────┬────────────┬────────────┐
│ DNI      ┆ APELLIDOS  ┆ PUNTAJE ┆ CONDICION  ┆ … ┆ CARRERA    ┆ Escala ┆ PuntajeOri ┆ Puntaje_no │
│ ---      ┆ Y NOMBRES  ┆ ---     ┆ ---        ┆   ┆ ---        ┆ ---    ┆ ginal      ┆ rmalizado  │
│ str      ┆ ---        ┆ f64     ┆ str        ┆   ┆ str        ┆ str    ┆ ---        ┆ ---        │
│          ┆ str        ┆         ┆            ┆   ┆            ┆        ┆ f64        ┆ f64        │
╞══════════╪════════════╪═════════╪════════════╪═══╪════════════╪════════╪════════════╪════════════╡
│ 73134972 ┆ MEDINA     ┆ 448.75  ┆ NO INGRESO ┆ … ┆ : MEDICINA ┆ 0-2000 ┆ 448.75     ┆ 4.4875     │
│          ┆ CAJAMARCA  ┆         ┆            ┆   ┆ HUMANA     ┆        ┆            ┆            │
│          ┆ YOSHEF     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ YOJANS…    ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 76238570 ┆ MEDINA     ┆ 1523.75 ┆ INGRESO    ┆ … ┆ :          ┆ 0-2000 ┆ 1523.75    ┆ 15.2375    │
│          ┆ CORDOVA    ┆         ┆            ┆   ┆ INGENIERÍA ┆        ┆            ┆            │
│          ┆ FELIX      ┆         ┆            ┆   ┆ CIVIL      ┆        ┆            ┆            │
│          ┆ ALONZO     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 73134972 ┆ MEDINA     ┆ null    ┆ ANULADO    ┆ … ┆ : MEDICINA ┆ 0-2000 ┆ null       ┆ null       │
│          ┆ CAJAMARCA  ┆         ┆            ┆   ┆ HUMANA     ┆        ┆            ┆            │
│          ┆ YOSHEF     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ YOJANS…    ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 72701953 ┆ TITO PRADA ┆ 628.0   ┆ NO INGRESO ┆ … ┆ PSICOLOGÍA ┆ 0-2000 ┆ 628.0      ┆ 6.28       │
│          ┆ GREACE     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ NICOLL     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 72701953 ┆ TITO PRADA ┆ 16.049  ┆ INGRESO    ┆ … ┆ ADMINISTRA ┆ 0-20   ┆ 16.049     ┆ 16.049     │
│          ┆ GREACE     ┆         ┆            ┆   ┆ CION       ┆        ┆            ┆            │
│          ┆ NICOLL     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
└──────────┴────────────┴─────────┴────────────┴───┴────────────┴────────┴────────────┴────────────┘

<p style="
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  background-color: #fce4ec;
  color: #880e4f;
  padding: 6px;
  border-radius: 5px;
  margin: 0;
">
  E) COLUMNA MODALIDAD
</p>

#### VERIFICAMOS LAS DISTINTAS MODALIDADES

In [34]:
list(df2['MODALIDAD'].unique())

['TITULADOS O GRADUADOS',
 'DEP. CALIFICADOS Y/O DEP. CALIFICADOS DE ALTO NIVEL',
 'PRIMEROS PUESTOS COLEGIOS',
 '1ER Y 2DO PUESTO I.E.',
 'DEPORTISTAS DESTACADOS',
 '1ER Y 2DO PUESTO DE I.E.',
 'TITULADOS Y GRADUADOS',
 'VICTIMA DEL TERRORISMO',
 'DEPORTISTAS CALIFICADOS',
 'SERVIDORES DE LA UNICA E HIJOS',
 None,
 'COMUNIDADES RURALES Y URBANAS',
 'EDUCACIÓN BÁSICA REGULAR Y EDUCACIÓN BÁSICA ALTERNATIVA',
 'PRIMEROS PUESTOS DE I. E. DE NIVEL SECUNDARIO',
 'PRIMEROS PUESTOS DE EDUCACIÓN SECUNDARIA',
 'DEP. CALIFICADOS Y DEP. CALIFICADOS DE ALTO NIVEL',
 'PRIMEROS PUESTOS DE LAS I. E. DE NIVEL SECUNDARIO',
 'COLEGIO SECUNDARIO MAYOR PRESIDENTE DEL PERU',
 'ORDINARIO',
 'VICTIMAS DE TERRORISMO',
 'PERSONA CON DISCAPACIDAD',
 'PERSONAS CON DISCAPACIDAD',
 'VICTIMAS DEL TERRORISMO',
 'ADMISIÓN ORDINARIA',
 'DEPORTISTAS DESCATADOS']

SE OBSERVA QUE HAY VALORES NULOS

#### VERIFICAMOS AÑO Y PERIODO CON VALORES NULOS

In [35]:
df2.filter(
    pl.col('MODALIDAD').is_null()
).select(['AÑO', 'PERIODO']).unique()

shape: (1, 2)
┌──────┬─────────┐
│ AÑO  ┆ PERIODO │
│ ---  ┆ ---     │
│ i64  ┆ str     │
╞══════╪═════════╡
│ 2023 ┆ II      │
└──────┴─────────┘

OBSERVAMOS

In [36]:
df2.filter(
    (pl.col('AÑO') == 2023) & (pl.col('PERIODO') == 'II')
).select('MODALIDAD').unique()

shape: (6, 1)
┌──────────────────────────┐
│ MODALIDAD                │
│ ---                      │
│ str                      │
╞══════════════════════════╡
│ VICTIMAS DE TERRORISMO   │
│ 1ER Y 2DO PUESTO I.E.    │
│ PERSONA CON DISCAPACIDAD │
│ TITULADOS Y GRADUADOS    │
│ null                     │
│ DEPORTISTAS DESCATADOS   │
└──────────────────────────┘

POR TEMAS DE AL EXTRAER LOS DATOS EN EL PDF DEL 2023- II NO SE OBSERVA LA MODALIDAD POR ELLO AL ANALIZAR SE OBSERVA QUE NO TENEMOS LA MODALIDAD ORDINARIA , YA QUE LAS DEMAS CORRESPONDE A LA EXTRAORDINARIA INDIVIDUAL , ASI QUE ESTE SERA EL NUEVO VALOR DE ESOS VALORES NULOS

In [37]:
df2= df2.with_columns(
    pl.col('MODALIDAD').fill_null('ORDINARIA').alias('MODALIDAD')
)

In [38]:
df2.filter(
    pl.col('MODALIDAD').is_null()
)

shape: (0, 11)
┌─────┬───────────────┬─────────┬───────────┬───┬─────────┬────────┬───────────────┬───────────────┐
│ DNI ┆ APELLIDOS Y   ┆ PUNTAJE ┆ CONDICION ┆ … ┆ CARRERA ┆ Escala ┆ PuntajeOrigin ┆ Puntaje_norma │
│ --- ┆ NOMBRES       ┆ ---     ┆ ---       ┆   ┆ ---     ┆ ---    ┆ al            ┆ lizado        │
│ str ┆ ---           ┆ f64     ┆ str       ┆   ┆ str     ┆ str    ┆ ---           ┆ ---           │
│     ┆ str           ┆         ┆           ┆   ┆         ┆        ┆ f64           ┆ f64           │
╞═════╪═══════════════╪═════════╪═══════════╪═══╪═════════╪════════╪═══════════════╪═══════════════╡
└─────┴───────────────┴─────────┴───────────┴───┴─────────┴────────┴───────────────┴───────────────┘

In [39]:
df2.filter(
    (pl.col('AÑO') == 2023) & (pl.col('PERIODO') == 'II')
).select({'MODALIDAD'}).unique()

shape: (6, 1)
┌──────────────────────────┐
│ MODALIDAD                │
│ ---                      │
│ str                      │
╞══════════════════════════╡
│ TITULADOS Y GRADUADOS    │
│ 1ER Y 2DO PUESTO I.E.    │
│ DEPORTISTAS DESCATADOS   │
│ PERSONA CON DISCAPACIDAD │
│ VICTIMAS DE TERRORISMO   │
│ ORDINARIA                │
└──────────────────────────┘

## Estandarizacion de Modalidades de Ingreso

Se realizó un proceso de normalización sobre la columna `MODALIDAD` con el fin de corregir inconsistencias en los registros de modalidades de ingreso. Estas inconsistencias incluían:

- Variantes ortográficas, por ejemplo: `"VICTIMAS DEL TERRORISMO"` y `"VICTIMA DE TERRORISMO"`.
- Diferencias en el uso de tildes, como: `"EDUCACIÓN"` y `"EDUCACION"`.
- Formatos inconsistentes, tales como: `"1ER Y 2DO PUESTO I.E."`, `"PRIMEROS PUESTOS DE I. E."`, entre otros.
- Presencia de valores nulos (`None`).

Para abordar estos problemas, se construyó un diccionario de mapeo que unifica todas las variantes hacia una forma estandarizada segun las **MODALIDADES PUBLICADA OFICIALMENTE POR LA UNIVERSIDAD** EN EL AÑO 2025-I, escrita en mayúsculas y sin tildes. Esto permite realizar análisis más confiables y agrupar correctamente las modalidades de ingreso.

La normalización se aplicó utilizando la función `map_elements()` de la biblioteca Polars, generando una nueva columna llamada `Modalidad_Normalizada`. Esta columna conserva el valor original si no se encuentra en el diccionario de mapeo, y lo reemplaza por la versión estandarizada si existe una correspondencia.

In [40]:
df2.filter(
    pl.col('MODALIDAD') == 'DEPORTISTAS DESCATADOS'
)

shape: (14, 11)
┌──────────┬────────────┬─────────┬────────────┬───┬────────────┬────────┬────────────┬────────────┐
│ DNI      ┆ APELLIDOS  ┆ PUNTAJE ┆ CONDICION  ┆ … ┆ CARRERA    ┆ Escala ┆ PuntajeOri ┆ Puntaje_no │
│ ---      ┆ Y NOMBRES  ┆ ---     ┆ ---        ┆   ┆ ---        ┆ ---    ┆ ginal      ┆ rmalizado  │
│ str      ┆ ---        ┆ f64     ┆ str        ┆   ┆ str        ┆ str    ┆ ---        ┆ ---        │
│          ┆ str        ┆         ┆            ┆   ┆            ┆        ┆ f64        ┆ f64        │
╞══════════╪════════════╪═════════╪════════════╪═══╪════════════╪════════╪════════════╪════════════╡
│ 60971296 ┆ REYES      ┆ 2.475   ┆ INGRESO    ┆ … ┆ AGRONOMIA  ┆ 0-20   ┆ 2.475      ┆ 2.475      │
│          ┆ MARTINEZ   ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ LUIS       ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ ESTEBAN    ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 71820579 ┆ CLEMENTE   ┆ 5.658   ┆ INGRESO    ┆ … ┆ INGENIERIA ┆ 0-20   ┆ 5.658      ┆ 5.658      │
│          ┆ ONCEBAY    ┆         ┆            ┆   ┆ DE         ┆        ┆            ┆            │
│          ┆ EBERTHS    ┆         ┆            ┆   ┆ SISTEMAS   ┆        ┆            ┆            │
│          ┆ SEBAS…     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 60766380 ┆ TORREALVA  ┆ 9.686   ┆ INGRESO    ┆ … ┆ MEDICINA   ┆ 0-20   ┆ 9.686      ┆ 9.686      │
│          ┆ ORELLANA   ┆         ┆            ┆   ┆ HUMANA     ┆        ┆            ┆            │
│          ┆ MIA        ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ VALENTI…   ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 75785806 ┆ LOAYZA     ┆ 8.978   ┆ INGRESO    ┆ … ┆ MEDICINA   ┆ 0-20   ┆ 8.978      ┆ 8.978      │
│          ┆ CHAVEZ LUZ ┆         ┆            ┆   ┆ HUMANA     ┆        ┆            ┆            │
│          ┆ ELZA       ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 75018451 ┆ EVANAN     ┆ 6.012   ┆ NO INGRESO ┆ … ┆ MEDICINA   ┆ 0-20   ┆ 6.012      ┆ 6.012      │
│          ┆ CASTAÑEDA  ┆         ┆            ┆   ┆ HUMANA     ┆        ┆            ┆            │
│          ┆ GABRIEL    ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ ISAAC…     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ …        ┆ …          ┆ …       ┆ …          ┆ … ┆ …          ┆ …      ┆ …          ┆ …          │
│ 60766380 ┆ TORREALVA  ┆ 9.686   ┆ INGRESO    ┆ … ┆ MEDICINA   ┆ 0-20   ┆ 9.686      ┆ 9.686      │
│          ┆ ORELLANA   ┆         ┆            ┆   ┆ HUMANA     ┆        ┆            ┆            │
│          ┆ MIA        ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ VALENTI…   ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 75785806 ┆ LOAYZA     ┆ 8.978   ┆ INGRESO    ┆ … ┆ MEDICINA   ┆ 0-20   ┆ 8.978      ┆ 8.978      │
│          ┆ CHAVEZ LUZ ┆         ┆            ┆   ┆ HUMANA     ┆        ┆            ┆            │
│          ┆ ELZA       ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 75018451 ┆ EVANAN     ┆ 6.012   ┆ NO INGRESO ┆ … ┆ MEDICINA   ┆ 0-20   ┆ 6.012      ┆ 6.012      │
│          ┆ CASTAÑEDA  ┆         ┆            ┆   ┆ HUMANA     ┆        ┆            ┆            │
│          ┆ GABRIEL    ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ ISAAC…     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 60653029 ┆ EVANAN     ┆ 3.576   ┆ NO INGRESO ┆ … ┆ MEDICINA   ┆ 0-20   ┆ 3.576      ┆ 3.576      │
│          ┆ CASTAÑEDA  ┆         ┆            ┆   ┆ HUMANA     ┆        ┆            ┆            │
│          ┆ ALICIA     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ SARA A…    ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│ 75054961 ┆ PALOMINO   ┆ 4.067   ┆ INGRESO    ┆ … ┆ PSICOLOGIA ┆ 0-20   ┆ 4.067      ┆ 4.067      │
│          ┆ FLORES     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ CARMEN     ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
│          ┆ ROSA       ┆         ┆            ┆   ┆            ┆        ┆            ┆            │
└──────────┴────────────┴─────────┴────────────┴───┴────────────┴────────┴────────────┴────────────┘

In [41]:
list(df2['MODALIDAD'].unique())

['DEP. CALIFICADOS Y/O DEP. CALIFICADOS DE ALTO NIVEL',
 'PRIMEROS PUESTOS COLEGIOS',
 'VICTIMAS DE TERRORISMO',
 'PRIMEROS PUESTOS DE LAS I. E. DE NIVEL SECUNDARIO',
 'TITULADOS O GRADUADOS',
 'ADMISIÓN ORDINARIA',
 'DEPORTISTAS CALIFICADOS',
 'VICTIMA DEL TERRORISMO',
 'VICTIMAS DEL TERRORISMO',
 '1ER Y 2DO PUESTO DE I.E.',
 '1ER Y 2DO PUESTO I.E.',
 'COMUNIDADES RURALES Y URBANAS',
 'DEPORTISTAS DESCATADOS',
 'DEPORTISTAS DESTACADOS',
 'ORDINARIA',
 'DEP. CALIFICADOS Y DEP. CALIFICADOS DE ALTO NIVEL',
 'PRIMEROS PUESTOS DE EDUCACIÓN SECUNDARIA',
 'SERVIDORES DE LA UNICA E HIJOS',
 'ORDINARIO',
 'PRIMEROS PUESTOS DE I. E. DE NIVEL SECUNDARIO',
 'COLEGIO SECUNDARIO MAYOR PRESIDENTE DEL PERU',
 'TITULADOS Y GRADUADOS',
 'PERSONAS CON DISCAPACIDAD',
 'PERSONA CON DISCAPACIDAD',
 'EDUCACIÓN BÁSICA REGULAR Y EDUCACIÓN BÁSICA ALTERNATIVA']

In [42]:
mapping = {
    # Primeros puestos
    "PRIMEROS PUESTOS DE I. E. DE NIVEL SECUNDARIO": "1ER Y 2DO PUESTO DE INSTITUCIONES E.",
    "PRIMEROS PUESTOS DE LAS I. E. DE NIVEL SECUNDARIO": "1ER Y 2DO PUESTO DE INSTITUCIONES E.",
    "1ER Y 2DO PUESTO DE I.E.": "1ER Y 2DO PUESTO DE INSTITUCIONES E.",
    "1ER Y 2DO PUESTO I.E.": "1ER Y 2DO PUESTO DE INSTITUCIONES E.",
    "PRIMEROS PUESTOS COLEGIOS": "1ER Y 2DO PUESTO DE INSTITUCIONES E.",
    "PRIMEROS PUESTOS DE EDUCACIÓN SECUNDARIA": "1ER Y 2DO PUESTO DE INSTITUCIONES E.",

    # Víctimas de terrorismo
    "VICTIMAS DEL TERRORISMO": "VICTIMA DE TERRORISMO",
    "VICTIMA DEL TERRORISMO": "VICTIMA DE TERRORISMO",
    "VICTIMAS DE TERRORISMO": "VICTIMA DE TERRORISMO",

    # Deportistas
    "DEPORTISTAS CALIFICADOS": "DEPORTISTAS DESTACADOS",
    "DEP. CALIFICADOS Y DEP. CALIFICADOS DE ALTO NIVEL": "DEPORTISTAS DESTACADOS",
    "DEP. CALIFICADOS Y/O DEP. CALIFICADOS DE ALTO NIVEL": "DEPORTISTAS DESTACADOS",
    "DEPORTISTAS DESTACADOS": "DEPORTISTAS DESTACADOS",
    "DEPORTISTAS DESCATADOS": "DEPORTISTAS DESTACADOS",

    # Discapacidad
    "PERSONA CON DISCAPACIDAD": "PERSONA CON DISCAPACIDAD",
    "PERSONAS CON DISCAPACIDAD": "PERSONA CON DISCAPACIDAD",

    # Ordinaria
    "ADMISIÓN ORDINARIA": "ORDINARIA",
    "ORDINARIA": "ORDINARIA",
    "ORDINARIO": "ORDINARIA",
    "EDUCACIÓN BÁSICA REGULAR Y EDUCACIÓN BÁSICA ALTERNATIVA": "ORDINARIA",

    # Otros
    "SERVIDORES DE LA UNICA E HIJOS": "SERVIDORES DE LA UNICA E HIJOS",
    "TITULADOS Y GRADUADOS": "TITULADOS O GRADUADOS",
    "TITULADOS O GRADUADOS": "TITULADOS O GRADUADOS",
    "COLEGIO SECUNDARIO MAYOR PRESIDENTE DEL PERU": "COLEGIO SECUNDARIO MAYOR PRESIDENTE DEL PERU",
    "COMUNIDADES RURALES Y URBANAS": "COMUNIDADES RURALES Y URBANAS"
}

In [43]:
def normalizar_valor(x):
    return mapping.get(x, x)

In [44]:
df2= df2.with_columns(
    pl.col("MODALIDAD").map_elements(normalizar_valor, return_dtype=pl.Utf8).alias("MODALIDAD NORMALIZADA")
)

In [45]:
df2['MODALIDAD NORMALIZADA'].n_unique()

9

In [46]:
df2.head(2)

shape: (2, 12)
┌──────────┬─────────────┬─────────┬───────────┬───┬────────┬────────────┬────────────┬────────────┐
│ DNI      ┆ APELLIDOS Y ┆ PUNTAJE ┆ CONDICION ┆ … ┆ Escala ┆ PuntajeOri ┆ Puntaje_no ┆ MODALIDAD  │
│ ---      ┆ NOMBRES     ┆ ---     ┆ ---       ┆   ┆ ---    ┆ ginal      ┆ rmalizado  ┆ NORMALIZAD │
│ str      ┆ ---         ┆ f64     ┆ str       ┆   ┆ str    ┆ ---        ┆ ---        ┆ A          │
│          ┆ str         ┆         ┆           ┆   ┆        ┆ f64        ┆ f64        ┆ ---        │
│          ┆             ┆         ┆           ┆   ┆        ┆            ┆            ┆ str        │
╞══════════╪═════════════╪═════════╪═══════════╪═══╪════════╪════════════╪════════════╪════════════╡
│ 73144035 ┆ HERNANDEZ   ┆ 1482.5  ┆ INGRESO   ┆ … ┆ 0-2000 ┆ 1482.5     ┆ 14.825     ┆ ORDINARIA  │
│          ┆ GUERRERO    ┆         ┆           ┆   ┆        ┆            ┆            ┆            │
│          ┆ LUIS JAVIER ┆         ┆           ┆   ┆        ┆            ┆            ┆            │
│ 75024298 ┆ MARTINEZ    ┆ 1445.0  ┆ INGRESO   ┆ … ┆ 0-2000 ┆ 1445.0     ┆ 14.45      ┆ ORDINARIA  │
│          ┆ VERA CESIA  ┆         ┆           ┆   ┆        ┆            ┆            ┆            │
│          ┆ DOLLY       ┆         ┆           ┆   ┆        ┆            ┆            ┆            │
└──────────┴─────────────┴─────────┴───────────┴───┴────────┴────────────┴────────────┴────────────┘

<p style="
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  background-color: #fce4ec;
  color: #880e4f;
  padding: 6px;
  border-radius: 5px;
  margin: 0;
">
  F) COLUMNA PERIODO
</p>

In [47]:
df2 = df2.with_columns(
    pl.col('PERIODO').fill_null('I')
)

<p style="
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  background-color: #fce4ec;
  color: #880e4f;
  padding: 6px;
  border-radius: 5px;
  margin: 0;
">
  G) COLUMNA CARRERA
</p>

In [48]:
print(f'Se tiene un total de {len(df2['CARRERA'].unique())} carreras')

Se tiene un total de 155 carreras

LIMPIAR LOS CARRACTERES DE LAS CARRERAS

In [49]:
df2 = df2.with_columns(
    pl.col('CARRERA')
    .str.replace(r"^.*?:\s*", "")  # Limpia todo antes de ": "
    .alias('CARRERA')
)

In [50]:
def normalizar_carrera(x):
    return dict_carreras.get(x, x)

In [51]:
def agregar_facultad(x):
    return dict_facultades.get(x, x)

In [52]:
def agregar_area(x):
    return dict_area.get(x, x)

In [53]:
df2= df2.with_columns(
    pl.col('CARRERA').map_elements(normalizar_carrera, return_dtype=pl.Utf8).alias('CARRERA NORMALIZADA')
)

In [54]:
df2= df2.with_columns(
    pl.col('CARRERA NORMALIZADA').map_elements(agregar_facultad, return_dtype=pl.Utf8).alias('FACULTAD')
)

In [55]:
df2  = df2.with_columns(
    pl.col('CARRERA NORMALIZADA').map_elements(agregar_area, return_dtype=pl.Utf8).alias('AREA')
)

In [56]:
areas_unicas = df2['AREA'].unique()
print(areas_unicas)

shape: (3,)
Series: 'AREA' [str]
[
	"B"
	"A"
	"C"
]

In [57]:
len(df2['CARRERA NORMALIZADA'].unique())

40

In [58]:
len(df2['FACULTAD'].unique())

24

In [59]:
facultades = df2.select(pl.col("CARRERA NORMALIZADA").unique()).to_series().to_list()
for f in facultades:
    print(f"'{f}'")
print(f"Total carreras únicas: {len(facultades)}")

'MATEMÁTICA E INFORMÁTICA'
'CIENCIAS DE LA EDUCACIÓN EN LENGUA Y LITERATURA'
'INGENIERÍA DE MINAS'
'DERECHO'
'CIENCIAS DE LA COMUNICACIÓN'
'CIENCIAS DE LA EDUCACIÓN EN CIENCIAS BIOLÓGICAS Y QUÍMICA'
'ARQUITECTURA'
'CIENCIAS DE LA EDUCACIÓN EN EDUCACIÓN PRIMARIA'
'TURISMO'
'INGENIERÍA DE ALIMENTOS'
'CIENCIAS DE LA EDUCACIÓN EN EDUCACIÓN FÍSICA'
'ESTADÍSTICA'
'INGENIERÍA METALÚRGICA'
'INGENIERÍA ELECTRÓNICA'
'OBSTETRICIA'
'CIENCIAS DE LA EDUCACIÓN EN EDUCACIÓN ARTÍSTICA'
'ODONTOLOGÍA'
'ADMINISTRACIÓN'
'CONTABILIDAD'
'CIENCIAS DE LA EDUCACIÓN EN EDUCACIÓN INICIAL'
'MEDICINA HUMANA'
'ENFERMERÍA'
'NEGOCIOS INTERNACIONALES'
'CIENCIAS DE LA EDUCACIÓN EN HISTORIA Y GEOGRAFÍA'
'INGENIERÍA MECÁNICA ELÉCTRICA'
'BIOLOGÍA'
'INGENIERÍA PESQUERA'
'MEDICINA VETERINARIA Y ZOOTECNIA'
'AGRONOMÍA'
'INGENIERÍA QUÍMICA'
'FÍSICA'
'ECONOMÍA'
'CIENCIAS DE LA EDUCACIÓN EN MATEMÁTICA E INFORMÁTICA'
'CIENCIAS DE LA EDUCACIÓN EN FILOSOFÍA, PSICOLOGÍA Y CIENCIAS SOCIALES'
'INGENIERÍA AMBIENTAL Y SANITARIA'
'INGENIERÍA CIVIL'
'ARQUEOLOGÍA'
'INGENIERÍA DE SISTEMAS'
'FARMACIA Y BIOQUÍMICA'
'PSICOLOGÍA'
Total carreras únicas: 40

In [60]:
facultades = df2.select(pl.col("FACULTAD").unique()).to_series().to_list()
for f in facultades:
    print(f"'{f}'")
print(f"Total facultades únicas: {len(facultades)}")

'DERECHO Y CIENCIA POLÍTICA'
'MEDICINA HUMANA'
'INGENIERÍA PESQUERA Y DE ALIMENTOS'
'INGENIERÍA MECÁNICA Y ELÉCTRICA'
'ARQUITECTURA'
'AGRONOMÍA'
'CONTABILIDAD'
'CIENCIAS ECONÓMICAS Y NEGOCIOS INTERNACIONALES'
'PSICOLOGÍA'
'MEDICINA VETERINARIA Y ZOOTECNIA'
'OBSTETRICIA'
'FARMACIA Y BIOQUÍMICA'
'ODONTOLOGÍA'
'INGENIERÍA DE SISTEMAS'
'ENFERMERÍA'
'INGENIERÍA AMBIENTAL Y SANITARIA'
'INGENIERÍA QUÍMICA Y PETROQUÍMICA'
'CIENCIAS'
'CIENCIAS BIOLÓGICAS'
'ADMINISTRACIÓN'
'CIENCIAS DE LA EDUCACIÓN Y HUMANIDADES'
'CIENCIAS DE LA COMUNICACIÓN, TURISMO Y ARQUEOLOGÍA'
'INGENIERÍA CIVIL'
'INGENIERÍA DE MINAS Y METALURGIA'
Total facultades únicas: 24

In [61]:
df_pd = df2.to_pandas()

In [62]:
# os.makedirs(name = 'resultados', exist_ok=True)
# export = './resultados/Unido.xlsx'

In [63]:
# df_pd.to_excel(export, index=False, na_rep="")